{% extends 'base.html'%}
{% block content %}
{% load static %}

<br><br>

<div class="container">
<div class="row">
<div class="col-12 text-center"><h1 class="varela">Learn Android Development</h1></div>
<div class="text-center margin-30">
<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
</div>
</div>
<div>
   <button type="submit"  class="btn btn-primary">Download Android Syllabus </button>
</div>
<hr>
<div class="row">
 <div class="col-md-4">
    <div class="card" style="width: 35rem;">
        <div class="card-body">
      <div class="thumbnail">
<div class="nav nav-list primary left-menu">
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Introduction</b></p>
<ul class="counter-list">
<li><a href=>What is Android?</a></li>
<li><a href=>Android Architecture</a></li>
<li><a href=>Setting Android Environment</a></li>
<li><a href=>Android SDK Manager &amp; required Packages</a></li>
<li><a href=>Using Eclipse IDE</a></li>
<li><a href=>Using Android Studio</a></li>
<li><a href=>Android Virtual Device(AVD)</a></li>
<li><a href=>ating First Android Application</a></li>
<li><a href=>Package Structure</a></li>
<li><a href=>Introduction to Gradle</a></li>
<li><a href=>Running the Application</a></li>
</ul>
</div>
</div>
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Views, Layouts and more.</b></p>
<ul class="counter-list">
<li><a href=>Introduction to Views and ViewGroups</a></li>
<li><a href=>TextView</a></li>
<li><a href=>EditText View</a></li>
<li><a href=>RadioButton and CheckBox View</a></li>
<li><a href=>Button View</a></li>
<li><a href=>ImageView and ImageButton View</a></li>
<li><a href=>Toast</a></li>
<li><a href="#">Introduction to Layouts/ViewGroups</a></li>
<li><a href=>Linear Layout</a></li>
<li><a href=>Relative Layout</a></li>
<li><a href=>Tabular Layout</a></li>
<li><a href=>Hierarchical Layout Arrangements</a></li>
<li><a href=>Adapter and Adapter View</a></li>
<li><a href=>Using ListView</a></li>
<li><a href=>Using GridView</a></li>
<li><a href=>Spinner in Android</a></li>
<li><a href=>Working with Spinners</a></li>
<li><a href=>Margin and Padding</a></li>
<li><a href=>Working with EditText and TextView</a></li>
<li><a href=>RadioGroup, RadioButton and CheckBox</a></li>
<li><a href=>AutoCompleteTextView in Android</a></li>
</ul>
</div>
</div>
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Android Core and Projects</b></p>
<ul class="counter-list">
<li><a href=>Activity in Android</a></li>
<li><a href=>Intents in Android</a></li>
<li><a href=>Introduction to Fragments</a></li>
<li><a href=>Working with Fragments</a></li>
<li><a href=>Science Quiz App - Part 1</a></li>
<li><a href=>Science Quiz App - Part 2</a></li>
<li><a href=> Quiz App - Finale</a></li>
</ul>
</div>
</div>
</div>
      </div>
      </div>
    </div>
 </div>

    <div class="col-sm-3">
    <div class="card" style="width: 70rem;">
        <div class="card-body">
      <div class="thumbnail">
          <div class="caption">
          <div class="nav nav-list primary center-menu">
	<ul class="nav nav-tabs">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>  Teacher Overview</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Course Details</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Payment Details</a></li>
    </ul>
              <br><br>
              <h4>Hello python ............</h4>
</div>
</div>
      </div>
    </div>
    </div>
</div>
</div>
</div>


    {% endblock%}